@keyframes fadeInOutFirst {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInOutSecond {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInOutThird {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-dots span {
  display: inline-block;
  /* font-size: 2rem; */
  /* margin: 0 0.5rem; */
  /* animation: fadeInOut 1s infinite; */
}

.loading-dots span:nth-child(2) {
  animation: fadeInOutFirst 1.5s infinite;
  /* animation-delay: 0s; */
}

.loading-dots span:nth-child(3) {
  animation: fadeInOutSecond 1.5s infinite;
  /* animation-delay: 0.5s; */
}

.loading-dots span:nth-child(4) {
  animation: fadeInOutThird 1.5s infinite;
  /* animation-delay: 1s; */
}

.jyotir-logo-lading {
  animation: loading 1s cubic-bezier(0.25, 1, 0.5, 1) 0s infinite normal none;
}

/* @keyframes loading {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
} */

@keyframes loading {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
